#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>


// Miryoku configuration
#define MIRYOKU_ALPHAS_COLEMAKDH
#define MIRYOKU_TAP_COLEMAKDH
#define MIRYOKU_EXTRA_QWERTY
#define MIRYOKU_NAV_VI

// Include the Miryoku mapping for Totem (38 keys)
#include "../miryoku/mapping/38/totem.h"

// Include the Miryoku keymap
#include "../miryoku/miryoku.dtsi"
